:host {
    display: flex;
    margin: 0px 0px;
}

.front {
    max-width: 500px;
    max-height: 600px;
    background-color: rgba(255, 255, 255, 0.438);
    margin-left: auto;
    margin-right: auto;
}

.back {
    height: 100vh;
    width: 100vw;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: flex-end;
}