    
<!-- Determina si el usuario esta autenticado o es un invitado-->
<div *ngIf="auth.User | async; then authenticated else noauthenticated"></div>

<!-- Se usa el #authenticated para renderisar el template dependiendo de la respuesta del servicio auth de firestore -->
<!-- Esto con tal de poder hacer uso de una navegación basada en roles-->
<ng-template #noauthenticated>
    <app-login></app-login>
</ng-template>

<ng-template #authenticated>
<mat-divider></mat-divider>
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar back">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <!-- <span>
              <div class="logo">
                  <img src="../assets/navbar/logo.png"
                    class="logo_standard">
              </div>
            </span> -->
            <span class="example-spacer"></span>
            <span class="toolbar-flex"></span>
            <div fxShow="true" fxHide.lt-md="true" fxLayout="row">
                <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                <nav mat-tab-nav-bar>
                    <a mat-tab-link [routerLink]="['home']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" [attr.tabindex]="rla.isActive ? 0 : -1" [class.list-item-active]="rla.isActive">
                        <mat-icon>map</mat-icon>
                        &nbsp;Inicio
                    </a>
                </nav>
                <nav mat-tab-nav-bar>
                    <a mat-tab-link [routerLink]="['perfil']" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive" [attr.tabindex]="rla1.isActive ? 0 : -1" [class.list-item-active]="rla1.isActive">
                        <mat-icon>person</mat-icon>
                        &nbsp;Perfil
                    </a>
                </nav>
                <nav mat-tab-nav-bar>
                    <a mat-tab-link [routerLink]="['dashboard']" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive" [attr.tabindex]="rla2.isActive ? 0 : -1" [class.list-item-active]="rla2.isActive">
                        <mat-icon>group</mat-icon>
                        &nbsp;Organizaciones
                    </a>
                </nav>
                <nav mat-tab-nav-bar>
                    <a mat-tab-link (click)="LogOut()">
                        <mat-icon>power_settings_new</mat-icon>
                        &nbsp;Desconectarse
                    </a>
                </nav>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav fxHide fxShow.lt-md>
            <mat-nav-list>
                <nav mat-tab-nav-bar>
                    <a mat-tab-link routerLink="/" routerLinkActive #rla0="routerLinkActive" [active]="rla0.isActive" [attr.tabindex]="rla0.isActive ? 0 : -1" [class.list-item-active]="rla0.isActive" style="height: 0; display: none">
                    </a>
                </nav>
                <nav mat-tab-nav-bar>
                    <a mat-tab-link (click)="sidenav.toggle()" [routerLink]="['home']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" [attr.tabindex]="rla.isActive ? 0 : -1" [class.list-item-active]="rla.isActive">
                        <mat-icon>map</mat-icon>
                        &nbsp;Inicio
                    </a>
                </nav>
                <nav mat-tab-nav-bar>
                    <a mat-tab-link (click)="sidenav.toggle()" [routerLink]="['us']" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive" [attr.tabindex]="rla1.isActive ? 0 : -1" [class.list-item-active]="rla1.isActive">
                        <mat-icon>person</mat-icon>
                        &nbsp;Perfil
                    </a>
                </nav>
                <nav mat-tab-nav-bar>
                    <a mat-tab-link (click)="sidenav.toggle()" [routerLink]="['embarcadero']" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive" [attr.tabindex]="rla2.isActive ? 0 : -1" [class.list-item-active]="rla2.isActive">
                        <mat-icon>group</mat-icon>
                        &nbsp;Organizaciones
                    </a>
                </nav>
                <nav mat-tab-nav-bar>
                    <a mat-tab-link (click)="LogOut()">
                        <mat-icon>power_settings_new</mat-icon>
                        &nbsp;Desconectarse
                    </a>
                </nav>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
            <mat-divider></mat-divider>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>
</ng-template>