<mat-card class="z-depth-5">
    <img src="https://source.unsplash.com/category/people/300x300/?face,smile" alt="Avatar">
    <mat-card-title>
        Nombre de la persona
    </mat-card-title>
    <mat-card-subtitle>
        Pais, Ciudad
    </mat-card-subtitle>

</mat-card>
<mat-divider></mat-divider>


<mat-card class="z-depth-3">
    <mat-tab-group>
        <mat-tab label="Perfil">
            <div class="main-content">
                <div class="container-fluid">
                    <div class="col">
                        <mat-card-title>
                            Titulo Equis
                        </mat-card-title>
                        <mat-card-content>
                            Descripcion de los datos.
                        </mat-card-content>
                        <mat-card-content>
                            Correo Electronico
                        </mat-card-content>
                        <mat-card-content>
                            Direccion
                        </mat-card-content>
                        <mat-card-content>
                            Estoy muy ladillado
                        </mat-card-content>

                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Editar">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Cambiar Nombre</mat-label>
                    <input matInput placeholder="Nombre">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Cambiar Apellido</mat-label>
                    <input matInput placeholder="Apellido">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Cambiar Direccion</mat-label>
                    <input matInput placeholder="Direccion">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input matInput placeholder="Correo">
                </mat-form-field>
            </p>

            <button mat-button> Modificar</button>
        </mat-tab>
    </mat-tab-group>